Repository princemuel/rest-countries: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx @biomejs/biome check --fix --unsafe --assists-enabled=true --no-errors-on-unmatched --use-editorconfig=true --files-ignore-unknown=true --colors=off {staged_files}

format:
  run: npx prettier {staged_files} -w -u --no-error-on-unmatched-pattern --config ./.prettierrc.json --cache
  stage_fixed: true

chore: add server, ci config
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: lint, format

feat: add components
  app/components/container.astro
  app/components/link.astro
  app/content/config.ts
  app/helpers/custom-elements.ts
Due: lint, format

ci: update lefhook config
  lefthook.yml
Due: format

feat: migrate to astro (#21)
  .commitlintrc.json
  .lefthook/.gitkeep
  .lefthook/commit-msg/commitlint.sh
  .prettierignore
  .prettierrc
  .prettierrc.json
  .vscode/settings.json
  app/@types/jsx.d.ts
  app/components/container.astro
  app/components/link.astro
  app/content/config.ts
  app/helpers/custom-elements.ts
  astro.config.mjs
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format

ci: update editor and project settings
  .lefthook/.gitkeep
  .lefthook/commit-msg/commitlint.sh
  .prettierignore
  .vscode/settings.json
  astro.config.mjs
  astro.config.ts
  eslint.config.js
  lefthook.yml
  tsconfig.json
Due: lint, format

chore(deps): bump packages to latest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

feat: update icon assets and types
  app/@types/global.d.ts
  app/@types/reset.d.ts
  app/assets/icons/arrow-left.svg
  app/assets/icons/dark.svg
  app/assets/icons/light.svg
  app/assets/icons/magnifying-glass.svg
  app/assets/icons/moon.svg
  app/assets/icons/search.svg
  app/assets/icons/sun.svg
  app/assets/icons/system.svg
Due: lint

feat(theme): scaffold global theme picker and provider
  app/components/shared/link.astro
  app/components/shared/time.astro
  app/components/widgets/theme-picker.astro
  app/components/widgets/theme-provider.astro
  app/helpers/custom-elements.ts
  app/helpers/dom.ts
  app/helpers/error.ts
  app/helpers/merge.ts
  app/helpers/println.ts
Due: lint, format

feat(routes): scaffold layout and pages
  .astro/icon.d.ts
  app/components/layout/fence.astro
  app/components/layout/header.astro
  app/components/layout/shell.astro
  app/env.d.ts
  app/global.css
  app/index.css
  app/pages/index.astro
  app/pages/wiki/[name].astro
  app/utils/casts.ts
  app/utils/guards.ts
  app/utils/object.ts
  app/utils/strings.ts
Due: lint, format

feat(content): scaffold content collections
  app/content/ccas.ts
  app/content/config.ts
  app/content/countries.ts
  app/content/index.ts
  app/content/utils.ts
  public/icon.png
Due: lint

feat(content): add search and filter actions
  app/actions/actions.ts
  app/actions/filter.ts
  app/actions/index.ts
  app/actions/search.ts
  app/pages/index.astro
Due: lint, format

chore(build): update config and bump deps to latest
  .editorconfig
  .env.sample
  .gitattributes
  .gitignore
  .lefthook/.gitkeep
  .lefthook/commit-msg/commitlint.sh
  .nvmrc
  .postcssrc.json
  .prettierignore
  .prettierrc
  .prettierrc.json
  .vscode/settings.json
  lefthook.yml
  next.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  rspack.config.ts
Due: lint, format

fix: apply minor fixes and improvements
  .nvmrc
  app/countries/[slug]/country.tsx
  app/countries/[slug]/page.tsx
  app/page.tsx
  components/molecules/card.tsx
  components/organisms/country-details.tsx
  lib/country.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

chore: fix issues in package lock
  pnpm-lock.yaml
Due: format

Path conditions:
  lint: any of: *.{js,ts,mjs,jsx,tsx,json,astro}
  format: any of: *.{astro,md,mdx,mdoc,prisma,yml,yaml}
